<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<p>
	Hi,
</p>
<p>
	As a security precaution, the user account has been locked out because there were too many logon attempts or password change attempts.
</p>
<p>
	Wait for 5 minutes before trying again, or contact your administrator for support.
</p>
</br>
<p>
	Thanks and Regards,
</p>
<p>
	Cabe
</p>