app-parent-ng-content {
    padding: 20px;

    h4 {
        margin: 0px;
        padding: 0px;
    }

    .app-parent-ng-content--text {
        font-weight: 500;
        color: royalblue;
        font-size: large;
    }
}